# files that are supposed to only be placed locally
zsh/local_changes.zsh
shell/local_changes.sh
zsh/local_aliases.zsh
shell/local_aliases.sh
zsh/local_functions.zsh
shell/local_functions.sh

local_gitconfig
# histfile
vim/.netrwhist

