# files that are supposed to only be placed locally
zsh/local_changes.zsh
shell/local_changes.sh
bash/local_changes.bash
zsh/local_aliases.zsh
shell/local_aliases.sh
bash/local_aliases.bash
zsh/local_functions.zsh
shell/local_functions.sh
bash/local_functions.bash

local_gitconfig
# histfile
vim/.netrwhist

